<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<div class="user-posts">
  <ul>
    <% @user.microposts.each do |post| %>
    <h2 id="post-header">Recent Posts:</h2>
      <td><%= post.content %></td>
    <% end  %>
  </ul>
</div>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
